<div class="col-md-12">
    <a ng-click="removeProduct($stateParams.product_id)"  class="btn btn-sm btn-danger text-white pull-right">
      <i class="material-icons">delete</i> Remove Product
    </a>
  	<a ng ui-sref="products"  class="btn btn-sm btn-primary btn-round text-white pull-right">
      <i class="material-icons">keyboard_arrow_left</i> Back
    </a>
</div>
<div class="col-md-12">
	<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Add New Product</h4>
                </div>
                <div class="card-body">
                  <form name="product_form" no-validate >
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="checkbox checkbox-primary pull-left p-t-0">
                              <input ng-checked="product_data.default_listing"  id="checkbox-signup" ng-model="product_data.default_listing" name="reg-privacy-register" type="checkbox">
                              <label for="checkbox-signup"> Default in listing </label>
                          </div> 

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Product Name</label>
                          
                          <input type="text" class="form-control" ng-model = "product_data.product_name"  ng-required="true" name="product_name">

                          <div class="error-feedback" ng-show = "product_form.product_name.$invalid && product_form.product_name.$dirty">Product Name is Required.</div>

                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Title Template</label>
                          <input type="text" class="form-control" ng-model = "product_data.title"  ng-required="true" name="title">

                          <div class="error-feedback" ng-show = "product_form.title.$invalid && product_form.title.$dirty">Title is Required.</div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Bullet Point Template #1</label>
                          <textarea ng-model = "product_data.bp_one" class="form-control"></textarea>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Bullet Point Template #2</label>
                          <textarea ng-model = "product_data.bp_two" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Description</label>
                          <textarea ng-model = "product_data.description" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group faded-help">
                          <p>- %1, %2 will be replaced with listing keywords. %title will be replaced with listing title.
                          </p>
                          <p>
                            - %bp1, %bp2 will be replaced with Bullet Point #1/#2.
                          </p>
                          <p>
                           -  %title will be replaced with listing title.
                          </p>

                        </div>
                      </div>
                    </div>

                    <button type="button" form-name="product_form" loading-button callback="saveProduct()" class="btn btn-primary pull-right">Save Changes</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
         
          </div>
        </div>
      </div>
</div>