<div class="col-md-12">
	<a ui-sref="add_product"  class="btn btn-primary text-white pull-right">Add New Product</a>
</div>

<div class="col-md-12">
	<div class="content">
		<div class="container-fluid">
		  <div class="row">
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header card-header-primary">
		          <h4 class="card-title ">Listing</h4>
		          <p class="card-category"> </p>
		        </div>
		        <div class="card-body">
		          <div class="table-responsive">
		            <table class="table">
		              <thead class=" text-primary">
		                <th>Product</th>
		                <th>Designs w/ Product</th>
		                <th>In Sales Channel</th>
		              </thead>
		              <tbody>
		              	<tr ng-show="data.products.length == 0 || data.products == undefined" class="text-center">
		              		<td colspan="7">Nothing to show</td>
		              	</tr>
		                <tr class="pointer" ng-click="edit_page('edit_product', product.id)" ng-repeat="product in data.products">
							<td ng-bind="product.product_name"></td>
							<td> - </td>
							<td> - </td>
		                </tr>
		              </tbody>
		            </table>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>