<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-token" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Merchalong</title>
    <!-- Bootstrap Core CSS -->

    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/material-dashboard.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">   
    <link href="/assets/plugins/sweetalert/sweetalert.css?VERSION=1.0.2" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="/assets/plugins/ladda/dist/ladda.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/plugins/colorpicker/colorpicker.css" />
    <link rel="stylesheet" href="/assets/plugins/dropify/dist/css/dropify.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/jquery-textext-master/src/css/textext.plugin.tags.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/plugins/xeditable/css/xeditable.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/dropzone-master/dist/min/dropzone.min.css" />

    <link type="text/css" rel="stylesheet" href="/assets/css/credit-cards.css" />

    <link type="text/css" rel="stylesheet" href="/assets/css/custom.css" />

</head>

<body ng-cloak ng-app = "app" class="fix-header fix-sidebar card-no-border"  ng-controller = "ParentController">

  <div class="loading-base hidden" >
    <img src="/assets/img/loader.svg" width="100">
  </div>

  <div class="wrapper">
    <div ng-class="{'hidden' : !isLogin()}" ng-include src='"app/pages/sidebar.html?VERSION=1.0.2"'></div>
    <div ng-class="{'sigin-class' : !isLogin()}" class="main-panel">
      <!-- Navbar -->
      <nav ng-class="{'hidden' : !isLogin()}" class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <!-- div class="navbar-wrapper">
            <div class="navbar-minimize">
              <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
              <div class="ripple-container"></div></button>
            </div>

            <a class="navbar-brand" href="#pablo">{{$state.current.title}}</a>
          </div> -->
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button> -->
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form width-100 form-wrapper-search">
              <div class="input-group no-border width-100">
                <input type="text" value="" class=" width-100 search-bar-custom" placeholder="Search...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
              <!-- <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Mike John responded to your email</a>
                  <a class="dropdown-item" href="#">You have 5 new tasks</a>
                  <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="#">Another Notification</a>
                  <a class="dropdown-item" href="#">Another One</a>
                </div>
              </li> -->
              <li class="nav-item dropdown pointer" > 
                <a  class="nav-link pointer"  id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons pointer">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right "   aria-labelledby="navbarDropdownProfile">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <div class="dropdown-divider"></div>
                  <a  class="dropdown-item pointer" ng-click="logout()">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content" >
        <div class="container-fluid">
          <div class="animation-circle-inverse" ng-class="{'hidden' : isLogin()}">
              <i></i>
              <i></i>
              <i></i>
           </div>
           <div class="animation-circle" ng-class="{'hidden' : isLogin()}">
              <i></i>
              <i></i>
              <i></i>
           </div>

          <div class="row" id="ui-view" ui-view>
                main
          </div>
        </div>
      </div>

    </div>
  </div>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/angular/angular.min.js"></script>
    <script  type="text/javascript" src="/assets/plugins/ui-router/ui-router.min.js"></script>    <script  type="text/javascript" src="/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script  type="text/javascript" src='/bower_components/ngMask/dist/ngMask.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <script  type="text/javascript" src="/assets/plugins/sweetalert/sweetalert.min.js"></script> 
    <script src="/assets/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="/assets/js/perfect-scroll.js"></script>
    <script  type="text/javascript" src="/assets/js/jquery-cookie/jquery-cookie.js"></script>
    <script  type="text/javascript" src="/assets/plugins/ladda/dist/spin.min.js"></script>
    <script  type="text/javascript" src="/assets/plugins/ladda/dist/ladda.min.js"></script> 
    <script src="/assets/js/plugins/bootstrap-notify.js"></script>    
    <script  type="text/javascript" src="/assets/plugins/colorpicker/bootstrap-colorpicker.js"></script> 
    <script src='https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js'></script>

    <script src="/assets/plugins/dropify/dist/js/dropify.min.js"></script>
    <script src="/assets/plugins/xeditable/js/xeditable.js"></script>
    <script src="/assets/plugins/dropzone-master/dist/min/dropzone.min.js"></script>
    <script  type="text/javascript" src="/assets/plugins/jquery-scrollbar/jquery.custom-scrollbar.min.js"></script>  
    <script src="/assets/js/material-dashboard.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>

    <script  type="text/javascript" src="/app/settings.js?VERSION=1.0.2"></script>
    <script  type="text/javascript" src="/app/app.js?VERSION=1.0.2"></script>
    <script  type="text/javascript" src="/app/TokenService.js?VERSION=1.0.2"></script>    
    <script  type="text/javascript" src="/app/AuthenticationService.js?VERSION=1.0.2"></script>    
    <script  type="text/javascript" src="/app/directives/directives.js?VERSION=1.0.2"></script> 
    <script  type="text/javascript" src="/app/http.js?VERSION=1.0.2"></script> 
    

    <script  type="text/javascript" src="/app/pages/dashboard/DashboardController.js?VERSION=1.0.2"></script>
    <script  type="text/javascript" src="/app/pages/listing/ListingController.js?VERSION=1.0.2"></script>
    <script  type="text/javascript" src="/app/pages/listing/AddListingController.js?VERSION=1.0.2"></script>
    <script  type="text/javascript" src="/app/pages/landing/LandingController.js?VERSION=1.0.2"></script>

    <script  type="text/javascript" src="app/pages/plans/credit_card_icons.js?VERSION=1.4-0"></script>

    <script  type="text/javascript" src="/app/pages/plans/PlansController.js?VERSION=1.0.2"></script>

    <script  type="text/javascript" src="/app/pages/authentication/SigninController.js?VERSION=1.0.2"></script>
    <script  type="text/javascript" src="/app/pages/sales_channel/SalesChannelController.js?VERSION=1.0.2"></script>
    <script  type="text/javascript" src="/app/pages/research/ResearchController.js?VERSION=1.0.2"></script>
    <script  type="text/javascript" src="/app/pages/team/TeamController.js?VERSION=1.0.2"></script>


    <script  type="text/javascript" src="/app/ParentController.js?VERSION=1.0.2"></script>
    <script  type="text/javascript" src="/app/appConfig.js?VERSION=1.0.2"></script>
    
    
</body>
</html> 