<div class="col-md-12">
    <a ng-show="$stateParams.sales_channel_id != undefined" ng-click="removeSalesChannel($stateParams.sales_channel_id)"  class="btn text-white btn-danger pull-right">
      <i class="material-icons">delete</i> Remove 
    </a>
  	<a ng ui-sref="sales_channel"  class="btn btn-primary  pull-right">
      <i class="material-icons">keyboard_arrow_left</i> Back
    </a>
</div>

<div class="col-md-12">
	<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Add New Sales Channel</h4>
                </div>
                <div class="card-body">
                  <form name="channel_form" no-validate >
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Sales Channel</label>
                          
                          <input type="text" class="form-control" ng-model = "sales_channel.channel_name"  ng-required="true" name="channel_name">

                          <div class="error-feedback" ng-show = "channel_form.channel_name.$invalid && channel_form.channel_name.$dirty">Channel Name is Required.</div>

                        </div>
                      </div>
                    </div>
<!-- 
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="checkbox checkbox-primary pull-left p-t-0">
                              <input ng-checked="sales_channel.supports_upc_sku"  id="checkbox-signup" ng-model="sales_channel.supports_upc_sku" name="reg-privacy-register" type="checkbox">
                              <label for="checkbox-signup"> Supports UPC/SKU </label>
                          </div> 

                        </div>
                      </div>
                    </div> -->

                    <button ng-disabled="channel_form.$invalid"  style="margin-top: 40px" type="button" form-name="channel_form" loading-button callback="saveSalesChannel()" class="btn btn-primary pull-right">Save Changes</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="col-md-12" ng-show="sales_channel.id != undefined && sales_channel.id != '' ">
  <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Attach Products</h4>
                </div>
                <div class="card-body">
                  <form name="" no-validate >
                    
                    <div class="row" style="margin-bottom: 80px">
                      <div class="col-md-12">
                        <div class="form-group">
                            
                            <button ng-click="resetSalesProduct()" open-modal="edit_product_sales_channel" class="btn  btn-primary pull-right"> + Add New Products</button>

                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                  <th>Product</th>
                                  <th>Light Colors</th>
                                  <th>Dark Colors</th>
                                  <th>Price</th>
                                </thead>
                                <tbody>
                                  <tr class="text-center"  ng-show="data.sales_channel_products == undefined || data.sales_channel_products.length == 0">
                                    <td colspan="4">Nothing to show</td>
                                  </tr>
                                  <tr ng-click="editSalesProduct(sn_product)" ng-repeat="sn_product in data.sales_channel_products">
                                    <td ng-bind="sn_product.product_name"></td>
                                    <td>
                                      <div class="col-md-12" >
                                        <div ng-repeat="light_color in sn_product.light_colors track by $index" class="picker-view" style="background: {{light_color}}">
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="col-md-12" >
                                        <div ng-repeat="dark_color in sn_product.dark_colors track by $index" class="picker-view" style="background: {{dark_color}}">
                                        </div>
                                      </div>
                                    </td>
                                    <td ng-bind="sn_product.price | currency:'$'"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
</div>


<div class="modal fade" id="add_product_sales_channel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>Product</th>
                      <th>Add</th>
                    </thead>
                    <tbody>
                      <tr class="text-center" ng-show="data.products == undefined || data.products.length == 0">
                        <td colspan="2">Nothing to show</td>
                      </tr>
                      <tr ng-repeat="product in data.products track by $index">
                        <td ng-bind="product.product_name"></td>
                        <td><button type="button" ng-click="addToSalesChannel(product, $index)" class="btn btn-primary btn-sm"> + Add </button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>  
      </div>
  <!--     <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>





<div class="modal fade" id="edit_product_sales_channel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="sales_product_form" no-validate >
          <div class="col-md-12">

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>Product Name:</label>
                        <input type="text"  ng-model="sales_product.product_name"   name=
                        "product_name" class="form-control">
                        <div class="error-feedback" ng-show = "sales_product_form.product_name.$invalid && sales_product_form.product_name.$dirty">Product Name is Required.</div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>Title Template:</label>
                        <input type="text"  ng-model="sales_product.title"   class="form-control" name="title">
                        <div class="error-feedback" ng-show = "sales_product_form.title.$invalid && sales_product_form.title.$dirty">Product Name is Required.</div>
                      </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Bullet Point Template #1</label>
                      <textarea ng-model = "sales_product.bp_one" class="form-control"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Bullet Point Template #2</label>
                      <textarea ng-model = "sales_product.bp_two" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
              </div>



              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>Description:</label>
                        <input type="text"  ng-model="sales_product.description"   class="form-control">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>Price:</label>
                        <input type="text" format="currency"  ng-model="sales_product.price"   class="form-control">
                      </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" style="margin-top: 50px">
                <div class="row">


                  
                </div>
              </div>
          </div>  
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-danger pull-right" ng-click="removeProductFromSalesChannel()">Remove Product</button>
        <button type="button" form-name="" loading-button callback="saveSalesChannelProduct()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
