<div class="col-md-12">
  	<a  ui-sref="sales_channel"  class="btn btn-danger  pull-right">
      <i class="material-icons">keyboard_arrow_left</i> Back
    </a>

    
</div>

<div class="col-md-12">
	<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Edit Sales Channel Product</h4>
            </div>
            <div class="card-body">
              <form name="channel_form" no-validate >
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                            <label>Product Name:</label>
                            <input type="text" ng-readonly="product.default_listing"   ng-model="product.product_name"   name=
                            "product_name" class="form-control">
                            <div class="error-feedback" ng-show = "sales_product_form.product_name.$invalid && sales_product_form.product_name.$dirty">Product Name is Required.</div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                            <label>Title Template:</label>
                            <input type="text"  ng-model="product.title"   class="form-control" name="title">
                            <div class="error-feedback" ng-show = "sales_product_form.title.$invalid && sales_product_form.title.$dirty">Product Name is Required.</div>
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Bullet Point Template #1</label>
                          <textarea ng-model = "product.bp_one" class="form-control"></textarea>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Bullet Point Template #2</label>
                          <textarea ng-model = "product.bp_two" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>



                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                            <label>Description:</label>
                            <input type="text"  ng-model="product.description"   class="form-control">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                            <label>Price:</label>
                            <input type="text" format="currency"  ng-model="product.price"   class="form-control">
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12" style="margin-top: 50px">
                    <div class="row">

                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Light Colors:</label>
                          <br>

                          <input class="color-picker" ng-model="product.light_colors[$index]"    data-color="{{product.light_colors[$index]}}"  ng-repeat="num in getNum(product.max_colors, 'light_colors') track by $index" />

                        </div>

                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Dark Colors:</label>
                          <br>
                          <input class="color-picker" ng-model="product.dark_colors[$index]"  data-color="{{product.dark_colors[$index]}}"  ng-repeat="num in getNum(product.max_colors, 'dark_colors') track by $index" />
                        </div>
                      </div>
                      

                      <div class="col-md-12">
                        <a form-name="channel_form" loading-button callback="saveSalesChannelProduct()"  class="btn btn-primary text-white pull-right">
                          Save
                        </a>
                      </div>

                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>