<div class="col-md-12">
	<a ui-sref="add_sales_channel"  class="btn btn-primary  pull-right">Add New Sales Channel</a>
</div>

<div class="col-md-12" >
	<div class="content">
		<div class="container-fluid">
		  <div class="row">
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header card-header-primary">
		          <h4 class="card-title ">Listing</h4>
		          <p class="card-category"> </p>
		        </div>
		        <div class="card-body">
		          <div class="table-responsive">
		            <table class="table body-table">
		              <thead class=" text-primary">
		              	<th>Open</th>
		                <th>Sales Channel</th>
		              </thead>
		              <tbody>
		              	<tr class="text-center" ng-show="data.sales_channel == undefined || data.sales_channel.length == 0">
		              		<td colspan="7">Nothing to show</td>
		              	</tr>
		        	
		              	<tbody ng-click="edit_page('edit_sales_channel', channel.id)" class="pointer" ng-repeat="channel in data.sales_channel track by $index" ng-init="$parent_index = $index">
			                <tr >
								<td style="width: 69px" ng-click="$event.stopPropagation(); show_sales_channel[$parent_index] = !show_sales_channel[$parent_index]">
									<i class="material-icons">{{show_sales_channel[$parent_index] ? 'arrow_downward' : 'subdirectory_arrow_right'}}</i>
								</td>
								<td style="border-bottom: 1px solid #ccc;" colspan="6" ng-bind="channel.channel_name"></td>
			                </tr>
			                <tr ng-class="{'hidden' : !show_sales_channel[$parent_index] }">
			                	<td colspan="7">
			                		<table>
			                			<thead >
			                				<th colspan="2"></th>
			                				<th>Sizes</th>
							                <th>Default Light Colors</th>
							                <th>Default Dark Colors</th>
							                <th>Include In Listings</th>
							                <th>Price</th>
			                			</thead>
			                			<tbody ng-click="$event.stopPropagation(); show_product[$parent_index] = !show_product[$parent_index]" class="" ng-class="{'hidden' : !show_sales_channel[$parent_index] }" ng-repeat="product in channel.products track by $index" ng-init="$product_index = $index">
							                <tr >
							                	<td>
							                		<i class="material-icons">{{show_product[$product_index] ? 'arrow_downward' : 'subdirectory_arrow_right'}}</i>
							                	</td>
							                	<td ng-bind="product.product_name"></td>
							                	<td>MWY</td>
							                	<td>
							                		<div ng-repeat="light_color in convertStringToArray(product.light_colors)" class="picker-view" style="background: {{light_color}}">
				                                     </div>
							                	</td>
							                	<td>
							                		<div ng-repeat="dark_color in convertStringToArray(product.dark_colors)" class="picker-view" style="background: {{dark_color}}">
				                                     </div>
							                	</td>
							                	<td>{{product.product.default_listing == true ? 'Yes' : 'No'}}</td>
							                	<td ng-bind="product.price"></td>
							                </tr>
							                <tr ng-show="show_product[$parent_index]">
							                	<td colspan="2"></td>
							                	<td>Template Title</td>
							                	<td colspan="3">{{product.title}}</td>
							                </tr>
							                <tr ng-show="show_product[$parent_index]">
							                	<td colspan="2"></td>
							                	<td>BP1 Template</td>
							                	<td colspan="3">{{product.bp_one}}</td>
							                </tr>
							                <tr ng-show="show_product[$parent_index]">
							                	<td colspan="2"></td>
							                	<td>BP2 Template</td>
							                	<td colspan="3">{{product.bp_two}}</td>
							                </tr>
							                <tr ng-show="show_product[$parent_index]">
							                	<td colspan="2"></td>
							                	<td>Desc. Template</td>
							                	<td colspan="3">{{product.description}}</td>
							                </tr>
							            </tbody>
					                </table>
					            </td>
			                </tr>
		              	</tbody>

		          	</tbody>
		            </table>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>