<div class="col-md-12">
	<a ng-click="createListing()" ng-show="research_data.status == 'finished'"  class="btn btn-primary text-white pull-right">Create Listing</a>
	<a ng-click="updateStatus('finished')" ng-show="research_data.status == 'new'"  class="btn btn-info text-white pull-right">Move to Finish</a>
	<a ng-click="updateStatus('new')" ng-show="research_data.status == 'finished'"  class="btn btn-info text-white pull-right">Move to New</a>
	<a ng-click="removeResearch()"  class="btn btn-danger text-white pull-right">Remove</a>
	<a ui-sref="research"  class="btn btn-primary text-white pull-right">Back</a>
</div>


<div class="col-md-12">
	<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Add New Research Idea</h4>
                </div>

                <div class="loading-wrapper text-center" ng-show="core.add_research_loading">
        					<img src="/assets/img/loader.svg">
        				</div>


                <div class="card-body" ng-show="!core.add_research_loading">
        		    	<div class="row">
        		    		<div class="col-md-12">
        					    <div class="table table-striped " class="files" id="previews" >

        						  <div id="template" class="file-row">
        						  	<div class="col-md-12 upload-wrapper">
        						  		<div class="row">
        								    <div class="col-md-3 pull-left">
        								        <span class="preview"><img data-dz-thumbnail /></span>
        								    </div>
        								    <div  class="col-md-6 pull-left">
        								        <p>
        								        	<span class="width"></span>
        								        	<div class="dz-filename"><span data-dz-name></span></div>
        								        </p>
        								        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
        								          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress>
        								          	<span class="progress-text"></span>
        								          </div>
        								        </div>
        								    </div>

        								    <div class="col-md-3 pull-left">
        								        <button class="btn btn-sm btn-danger remove_photo">Remove</button>
        								    </div>
        								</div>
        								<div class="row">
        								</div>
        							</div>
        						  </div>

        						</div>

        						<div class="col-md-12 dropzone" dropzone-research>
        						</div>


        					</div>
        		    	</div>
                  <form name="data_form " no-validate style="margin-top: 20px">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Design Phrase</label>
                          
                          <input type="text" class="form-control" ng-model = "research_data.design_phrase"  ng-required="true" name="design_phrase">

                          <div class="error-feedback" ng-show = "data_form.design_phrase.$invalid && data_form.design_phrase.$dirty">Design Phrase is Required.</div>

                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Link</label>
                          <input type="text" class="form-control" ng-model = "research_data.link"  name="link">

                         
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Keyswords</label>
                          <input type="text" ng-model = "research_data.keys" class="form-control">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Notes</label>
                          <textarea ng-model = "research_data.notes" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>


                    <button type="button" form-name="data_form" loading-button callback="saveResearch()" class="btn btn-primary pull-right">Save</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
         
          </div>
        </div>
      </div>
</div>