<div class="col-md-12">
	<a ui-sref="add_research"  class="btn btn-primary text-white pull-right">New Research Idea</a>
</div>


 <div class="container rrd-tab">
  <div class="row">
    <div class="col-md-12 ">
      <nav>
        <div ng-init="research_tab.status = 'new'" class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a ng-class="{'active' : research_tab.status == 'new'}" ng-click="research_tab.status = 'new'" class="nav-item nav-link pointer" id="nav-home-tab" data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="true">New</a>
          <a ng-class="{'active' : research_tab.status == 'finished'}" ng-click="research_tab.status = 'finished'" class="nav-item nav-link pointer" id="nav-home-tab" data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="true">Finished</a>
        </div>
      </nav>
      <div  class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        
        <div ng-show="research_tab.status == 'new'" class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          	<div class="col-md-12">
				<div class="content">
					<div class="container-fluid">
					  <div class="row">
					    <div class="col-md-12">
					      <div class="card">
					        <div class="card-header card-header-primary">
					          <h4 class="card-title ">New Research Ideas</h4>
					          <p class="card-category"> </p>
					        </div>

					        <div class="loading-wrapper text-center" ng-show="core.research_loading">
								<img src="/assets/img/loader.svg">
							</div>


					        <div class="card-body" ng-show="!core.research_loading">
					          <div class="table-responsive">
					            <table class="table">
					              <thead class=" text-primary">
					                <th>Status</th>
					                <th>Design Phrase</th>
					                <th>Notes</th>
					                <th>Keywords</th>
					                <th>View link</th>
					              </thead>
					              <tbody>
					              	<tr ng-show="data.research_new.length == 0 || data.research_new == undefined" class="text-center">
					              		<td colspan="7">Nothing to show</td>
					              	</tr>
					                <tr class="pointer" ng-click="edit_page('edit_research', research.id)" ng-repeat="research in data.research_new">
										<td><button class="btn btn-primary btn-sm">{{research.status}}</button></td>
										<td ng-bind="research.design_phrase"></td>
										<td ng-bind="research.notes"></td>
										<td ng-bind="research.keys"></td>
										<td ng-click="$event.stopPropagation()"><button class="btn btn-sm btn-info" ng-click="visitLink(research.link)">Visit Link</button></td>
					                </tr>
					              </tbody>
					            </table>
					          </div>
					        </div>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
        </div>

        <div ng-show="research_tab.status == 'finished'" class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="col-md-12">
				<div class="content">
					<div class="container-fluid">
					  <div class="row">
					    <div class="col-md-12">
					      <div class="card">
					        <div class="card-header card-header-primary">
					          <h4 class="card-title ">New Research Ideas</h4>
					          <p class="card-category"> </p>
					        </div>
					        <div class="card-body">
					          <div class="table-responsive">
					            <table class="table">
					              <thead class=" text-primary">
					                <th>Status</th>
					                <th>Design Phrase</th>
					                <th>Notes</th>
					                <th>Keywords</th>
					                <th>View link</th>
					              </thead>
					              <tbody>
					              	<tr ng-show="data.research_finished.length == 0 || data.research_finished == undefined" class="text-center">
					              		<td colspan="7">Nothing to show</td>
					              	</tr>
					                <tr class="pointer" ng-click="edit_page('edit_research', research.id)" ng-repeat="research in data.research_finished">
										<td><button class="btn btn-warning btn-sm">{{research.status}}</button></td>
										<td ng-bind="research.design_phrase"></td>
										<td ng-bind="research.notes"></td>
										<td ng-bind="research.keys"></td>
										<td ng-click="$event.stopPropagation()"><button class="btn btn-sm btn-info" ng-click="visitLink(research.link)">Visit Link</button></td>
					                </tr>
					              </tbody>
					            </table>
					          </div>
					        </div>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
        </div>

      </div>
    </div>
  </div>
</div>


