<div class="col-md-12">
	<a ui-sref="listing"  class="btn btn-primary  text-white pull-right">Back</a>
</div>



<div class="col-md-12">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="dropify-custom">
          <input data-height="200"  type="file" id="design" dropify class="dropify"/>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="form-group">
              <button class="btn btn-primary btn-sm">Save</button>
            </div>
            <div class="form-group">
              <button ng-click="bindUnbind()" ng-class="{'btn-danger' : template.bind == true , 'btn-primary' : template.bind == false}" class="btn  btn-sm">{{template.bind == true ? "Unbind" : "Bind"}} Template</button>
            </div>
            <div class="form-group">
              <button class="btn btn-danger btn-sm">Remove</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
          

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                    <label>Brand:</label>
                    <input type="text"  ng-model="template.brand"   name=
                    "brand" class="form-control">
          
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <label>Title Template:</label>
                    <input type="text"  ng-model="template.title"   class="form-control" name="title">

                  </div>
              </div>
            </div>
          </div>


          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                    <label>Bullet Point 1:</label>
                    <input type="text"  ng-model="template.bp_one"   name=
                    "bp_one" class="form-control">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <label>Bullet Point 2:</label>
                    <input type="text"  ng-model="template.bp_two"   class="form-control" name="bp_two">
                  </div>
              </div>
            </div>
          </div>


          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                    <label>Keywords:</label>
                    <input type="text" listing-keywords  ng-model="templates.keywords"   class="form-control" name="keywords">
                  </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                    <label>Description:</label>
                    <textarea type="text"  ng-model="template.description"   class="form-control" name="description"></textarea>
                  </div>
              </div>
            </div>
          </div>

          




      </div>
    </div>
  </div>
</div>




<div class="col-md-12">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Listing</h4>
              <p class="card-category"> </p>
            </div>
            <div class="card-body">
              <table class="table body-table">
                  <thead class=" text-primary">
                    <th>Open</th>
                    <th>Sales Channel</th>
                  </thead>
                  <tbody>
                    <tr class="text-center" ng-show="data.sales_channel == undefined || data.sales_channel.length == 0">
                      <td colspan="7">Nothing to show</td>
                    </tr>
              
                    <tbody ng-click="edit_page('edit_sales_channel', channel.id)" class="pointer" ng-repeat="channel in data.sales_channel track by $index" ng-init="$parent_index = $index">
                      <tr >
                <td style="width: 69px" ng-click="$event.stopPropagation(); show_sales_channel[$parent_index] = !show_sales_channel[$parent_index]">
                  <i class="material-icons">{{show_sales_channel[$parent_index] ? 'arrow_downward' : 'subdirectory_arrow_right'}}</i>
                </td>
                <td style="border-bottom: 1px solid #ccc;" colspan="6" ng-bind="channel.channel_name"></td>
                      </tr>
                      <tr ng-class="{'hidden' : !show_sales_channel[$parent_index] }">
                        <td colspan="7">
                          <table class="listing-detail-table">
                            <thead >
                              <th></th>
                              <th>Title</th>
                              <th>Sizes</th>
                              <th>Brand</th>
                            </thead>
                            <tbody ng-click="$event.stopPropagation(); show_product[$parent_index] = !show_product[$parent_index]" class="" ng-class="{'hidden' : !show_sales_channel[$parent_index] }" ng-repeat="product in channel.products track by $index" ng-init="$product_index = $index">
                              <tr >
                                <td>
                                  <i class="material-icons">{{show_product[$product_index] ? 'arrow_downward' : 'subdirectory_arrow_right'}}</i>
                                  {{product.product_name}}
                                </td>
                                <td ng-click="$event.stopPropagation();">
                                  <a   onbeforesave="updateData(product,$data, 'title')" editable-text="product.title">{{ displayExactData(product, 'title') || "empty" }}</a>
                                </td>
                                <td>MWY</td>
                                <td ng-bind="displayExactData(product, 'brand')"></td>
                              </tr>
                        
                              <tr ng-show="show_product[$parent_index]">
                                <td colspan="2"></td>
                                <td>BP1 Template</td>
                                <td ng-click="$event.stopPropagation();" colspan="3">
                                    <a   onbeforesave="updateData(product,$data, 'bp_one')" editable-text="product.bp_one">{{ displayExactData(product, 'bp_one') || "empty" }}</a>
                                </td>
                              </tr>
                              <tr ng-show="show_product[$parent_index]">
                                <td colspan="2"></td>
                                <td>BP2 Template</td>
                                <td ng-click="$event.stopPropagation();" colspan="3">
                                    <a   onbeforesave="updateData(product,$data, 'bp_two')" editable-text="product.bp_two">{{ displayExactData(product, 'bp_two') || "empty" }}</a>

                                </td>
                              </tr>
                              <tr ng-show="show_product[$parent_index]">
                                <td colspan="2"></td>
                                <td>Desc. Template</td>
                                <td ng-click="$event.stopPropagation();" colspan="3">
                                  <a   onbeforesave="updateData(product,$data, 'decription')" editable-text="product.decription">{{ displayExactData(product, 'decription') || "empty" }}</a>
                                </td>
                              </tr>
                          </tbody>
                          </table>
                      </td>
                      </tr>
                    </tbody>

                </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>