<style type="text/css">
	.sales-channels .card {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.c-content-needed {
		background-color: #F39237;
	}
	.c-partialy-online {
		background-color: #087CD2;
	}
	.c-design-needed {
		background-color: #FF595E;
	}
	.c-ready-upload {
		background-color: gray;
	}
	.status-circle {
		width: 10px;
	    height: 10px;
	    border-radius: 10px;
	    margin:0px auto;
	}

</style>




<div class="col-md-12">
	<a ng-click="addNew()"  class="btn btn-primary  pull-right text-white">{{data.edit_mode == true ? "Close" : "Create Listing"}}</a>
</div>

<div class="" ng-class = "{'col-md-12' : data.edit_mode == false, 'col-md-5' : data.edit_mode == true }">
	<div class="content">
		<div class="container-fluid">
		  <div class="row">
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header card-header-primary">
		          <h4 class="card-title ">Listing</h4>
		          <p class="card-category"> </p>
		        </div>

		        <div class="loading-wrapper text-center" ng-show="core.listing_loading">
					<img src="/assets/img/loader.svg">
				</div>


		        <div class="card-body" ng-show="!core.listing_loading">
		          <div class="table-responsive">
		            <table class="table">
		              <thead class=" text-primary">
		                <th>Status</th>
		                <th>Id</th>
		                <th>Design</th>
		                <th ng-class="{'hidden' : data.edit_mode}">Added</th>
		                <th ng-class="{'hidden' : data.edit_mode}">Last Edit</th>
		                <th ng-class="{'hidden' : data.edit_mode}">Created By</th>
		                <th ng-class="{'hidden' : data.edit_mode}">Designer</th>
		                <th ng-class="{'hidden' : data.edit_mode}">
		                	New Tab
		                </th>
		              </thead>
		              <tbody>
		              	<tr class="text-center" ng-show="data.lists == undefined ||  data.lists.length == 0">
		              		<td colspan="7">Nothing to show</td>
		              	</tr>
		                <tr  ng-click="editListing(list)" class="pointer" ng-repeat="list in data.lists track by $index">
							<td class="text-center">
								<div class="status-circle" 
									ng-class="
									{'c-content-needed' :  list.status == 'Content Needed',
									'c-partialy-online' :  list.status == 'Partialy Online',
									'c-design-needed' :  list.status == 'Design Needed',
									'c-ready-upload' :  list.status == 'Ready to upload'}
									"
								>
								</div>
							</td>
							<td ng-bind="list.id"></td>
							<td tooltip-mouse >{{list.title}}<img ng-class="{'dark-preview' : key_settings.image_bg }" class="tip hover-image" src="{{getThumbnail(list)}}" ng-hide="getThumbnail(list) == null"></td>
							<td ng-class="{'hidden' : data.edit_mode}" ng-bind="list.added"></td>
							<td ng-class="{'hidden' : data.edit_mode}" ng-bind="list.updated"></td>
							<td ng-class="{'hidden' : data.edit_mode}">{{displayCreator(list)}}</td>
							<td ng-class="{'hidden' : data.edit_mode}">{{displayDesigner(list)}}</td>
							<td class="text-center" ng-class="{'hidden' : data.edit_mode}">
								<i class="material-icons text_align-center visible-on-sidebar-regular">open_in_new</i>
							</td>
		                </tr>
		              </tbody>
		            </table>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>

<div class="card" ng-class = "{'col-md-7' : data.edit_mode == true, 'hidden' : data.edit_mode == false }">

	<div class="card-header card-header-primary">
      <h4 class="card-title ">New Listing</h4>
      <p class="card-category"> </p>
    </div>

    <div class="loading-wrapper text-center" ng-show="core.loading">
		<img src="/assets/img/loader.svg">
	</div>


	<div class="card-body" ng-show="!core.loading">
		<div class="row">

		    <div class="col-md-12">
		    	<div class="row">
		    		<div class="col-md-12">
					    <div dynamic="key_settings" class="table table-striped " class="files" id="previews" >

						  <div id="template" class="file-row">
						  	<div class="col-md-12 upload-wrapper">
						  		<div class="row">
								    <div class="col-md-3 pull-left">
								        <span class="preview" ng-class="{'dark-preview' : key_settings.image_bg }"><img ng-class="{'dark-preview' : key_settings.image_bg }" data-dz-thumbnail /></span>
								    </div>
								    <div  class="col-md-6 pull-left">
								        <p>
								        	<span class="width"></span>
								        	<div class="dz-filename"><span data-dz-name></span></div>
								        </p>
								        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
								          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress>
								          	<span class="progress-text"></span>
								          </div>
								        </div>
								    </div>

								    <div class="col-md-3 pull-left">
								        <button class="btn btn-sm btn-danger remove_photo">Remove</button>
								    </div>

								</div>
								<div class="row">
								</div>
							</div>
						  </div>

						</div>

						<div class="col-md-12 dropzone" dropzone>
						</div>


					</div>
		    	</div>
		    </div>
		    <div class="col-md-12" style="padding: 16px">
		    	<div class="row">
			        <div class="col-md-12">
						<button form-name="" loading-button callback="saveListing()" class="btn btn-primary btn-md  btn-actions">Save</button>
						<button ng-click="bindUnbind()" ng-class="{'btn-danger' : template.is_bind == true , 'btn-primary' : template.is_bind == false}" class="btn  btn-md  btn-actions">{{template.is_bind == true ? "Unbind" : "Bind"}} Template</button>
						<button ng-click="removeListing()" class="btn btn-danger btn-md  btn-actions">Remove</button>
						<button class="btn btn-info btn-md  btn-actions">Upload All</button>
			    	</div>
		    	</div>
		    </div>
			<div class="col-md-12 merch-form">
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
						  <h5 class="mb-0">
						    <button class="btn btn-link text-primary" data-toggle="collapse" data-target="#collapse-global" aria-expanded="true" aria-controls="collapse-global">
						      Global Settings
						    </button>
						  </h5>
						</div>

						<div id="collapse-global" class="collapse show " aria-labelledby="headingOne" data-parent="#accordion">
						  <div class="card-body">
							<div class="col-md-12">
							    <div class="row">
							    	<div class="col-md-12">
							          <div class="form-group">
							            <label>Designer:</label>
							            
							            <div class="form-check">
                                          <label class="form-check-label">
                                            <input class="form-check-input" ng-checked="template.input_designer == true" ng-model="template.input_designer" id="input_designer" type="checkbox" > Input Designer
                                            <span class="form-check-sign">
                                              <span class="check"></span>
                                            </span>
                                          </label>
                                        </div>

							  			<select ng-show="template.input_designer == false" class="form-control" ng-model="template.designer"> 
							  				<option value="{{member.user_id}}" ng-repeat="member in data.team_members">{{member.member.user_profile.firstName}} {{member.member.user_profile.lastName}}</option>
							  			</select>

							  			<input ng-show="template.input_designer" class="form-control" type="text" name="" ng-model="template.unregistered_designer">

							          </div>
							      	</div>
							      <div class="col-md-12">
							          	<div class="form-group">
							            	<label>Brand:</label>
							            	<input type="text"  ng-model="template.brand"   name="brand" class="form-control">
							          	</div>
							      </div>
							      	<div class="col-md-12">
							          	<div class="form-group">
								            <label>Title Template:</label>
								            <input type="text"  ng-model="template.title"   class="form-control" name="title">

							          	</div>
							      	</div>
							    </div>
							  </div>


							  <div class="col-md-12">
							    <div class="row">
							      <div class="col-md-12">
							          <div class="form-group">
							            <label>Bullet Point 1:</label>
							            <input type="text"  ng-model="template.bp_one"   name=
							            "bp_one" class="form-control">
							          </div>
							      </div>
							      <div class="col-md-12">
							          <div class="form-group">
							            <label>Bullet Point 2:</label>
							            <input type="text"  ng-model="template.bp_two"   class="form-control" name="bp_two">
							          </div>
							      </div>
							    </div>
							  </div>


							  <div class="col-md-12">
							    <div class="row">
							      <div class="col-md-12">
							          <div class="form-group">
							            <label>Keywords:</label>
							            <input type="text" listing-keywords  ng-model="template.keywords"   class="form-control" name="keywords">
							          </div>
							      </div>
							    </div>
							  </div>

							  <div class="col-md-12">
							    <div class="row">
							      <div class="col-md-12">
							          <div class="form-group">
							            <label>Description:</label>
							            <textarea type="text"  ng-model="template.description"   class="form-control" name="description"></textarea>
							          </div>
							      </div>
							    </div>
							  </div>

							  <div class="col-md-12">
							    <div class="row">
							      <div class="col-md-12">
							          <div class="form-group">
							            <label>Notes:</label>
							            <textarea type="text"  ng-model="template.notes"   class="form-control" name="notes"></textarea>
							          </div>
							      </div>
							    </div>
							  </div>

						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>


		

		<div class="row sales-channels merch-form" ng-repeat="channel in data.sales_channel track by $index" ng-init="$parent_index = $index">
	        <div class="col-md-12" id="accordion-{{$parent_index}}">
	        	<div class="card">
					<div class="card-header" id="headingOne">
					  <h5 class="mb-0">
					    <button class="btn btn-link text-primary" data-toggle="collapse" data-target="#collapse-{{$parent_index}}" aria-expanded="true" aria-controls="collapse-{{$parent_index}}">
					      <span ng-bind="channel.channel_name"></span>
					    </button>

					    <button class="btn btn-info btn-md pull-right">Upload</button>
					  </h5>
					</div>

					<div class="collapse"   id="collapse-{{$parent_index}}">
						<div   ng-repeat="product in channel.products track by $index" ng-init="$product_index = $index">
						  	<div class="card">
						  		<div class="card-body">

						  			<div class="col-md-12">
									    <div class="row">
									    	<div class="col-md-12">
									    		<label>Link:</label>
									    		<p onbeforesave="updateData(product,$data, 'link')" editable-text="product.link">{{ displayExactData(product, 'link') || "http://" }}</p>
									    	</div>
									    </div>
								  	</div>


						  			<div class="col-md-12" style="margin-bottom: 20px">
									    <div class="row">
									    	<div class="col-md-12 color-view-wrapper">
								  				<div class="form-group">
								  					<label>Default Colors:</label>
								  					<select class="form-control change_color_select"  ng-change="chooseColor(product)"  ng-model="product.selected_color_profile">
								  						<option value="light_colors">Light</option>
								  						<option value="dark_colors">Dark</option>
								  					</select>
								  				</div>


								  				<div class="col-md-12" ng-show="product.selected_color_profile != undefined">
								                    <div class="row">
								                       
								                        <div class="form-group">
								                          <label>Selected Colors:</label>
								                          <br>
								                          <input class="color-picker"  ng-model="product.selected_colors[$index]" data-product="{{product}}"  data-color="{{product.selected_colors[$index]}}"  ng-repeat="color in product.selected_colors track by $index" />
								                        </div>


								                    </div> 
							                    </div>

							                 
						                        
								  			</div>
									    </div>
								  	</div>


									<div class="col-md-12">
									    <div class="row">
									    	<div class="col-md-3">
									    		<label>{{product.product_name}}</label>
									    	</div>
									    	
									    	<div class="col-md-3">
									    		<label>Brand:</label>
									    		<p  onbeforesave="updateData(product,$data, 'brand')" editable-text="product.brand">{{ displayExactData(product, 'brand') || "brand" }}</p>
									    	</div>
									    	<div class="col-md-3">
									    		<label>Sizes</label>
									    		<p>MWY</p>
									    	</div>
									    </div>
								  	</div>


								  	

								  	<div class="col-md-12">
									    <div class="row">
									    	<div class="col-md-12">
									    		<label>Title:</label>
									    		<p   onbeforesave="updateData(product,$data, 'title')" editable-text="product.title">{{ displayExactData(product, 'title') || "title" }}</p>
									    	</div>
									    </div>
								  	</div>


								  	<div class="col-md-12">
									    <div class="row">
									    	<div class="col-md-12">
									    		<label>Price:</label>
									    		<p   onbeforesave="updateData(product,$data, 'price')" editable-text="product.price">{{ displayExactData(product, 'price') || "price" }}</p>
									    	</div>
									    </div>
								  	</div>

								  	<div class="col-md-12">
									    <div class="row">
									    	<div class="col-md-12">
									    		<label>Bp One:</label>
									    		<p   onbeforesave="updateData(product,$data, 'bp_one')" editable-text="product.bp_one">{{ displayExactData(product, 'bp_one') || "Bp One" }}</p>
									    	</div>
									    </div>
								  	</div>

								  	<div class="col-md-12">
									    <div class="row">
									    	<div class="col-md-12">
									    		<label>Bp Two:</label>
									    		<p   onbeforesave="updateData(product,$data, 'bp_two')" editable-text="product.bp_two">{{ displayExactData(product, 'bp_two') || "Bp Two" }}</p>
									    	</div>
									    </div>
								  	</div>

								  	<div class="col-md-12">
									    <div class="row">
									    	<div class="col-md-12">
									    		<label>Description</label>
									    		<p   onbeforesave="updateData(product,$data, 'decription')" editable-text="product.decription">{{ displayExactData(product, 'description') || "description" }}</p>
									    	</div>
									    </div>
								  	</div>
								</div>
							</div>
						</div>
					</div>


				</div>
	        </div>
		</div>
	</div>
</div>