<div class="sidebar" data-color="pallete_one"  data-background-color="black" >
  <div class="logo">
    <a href="/" class="simple-text logo-normal">
      Merchalong
    </a>
  </div>
  <div class="sidebar-wrapper ">
    <ul class="nav">
      <li class="nav-item" ng-class="{'active' : $state.current.name == 'dashboard'}">
        <a class="nav-link" ui-sref="dashboard">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      
      <li class="nav-item" ng-class="{'active' : $state.current.name == 'listing'}">
        <a class="nav-link" ui-sref="listing">
          <i class="material-icons">subject</i>
          <p>Listing</p>
        </a>
      </li>


      <li ng-if="storage('role') == 'Owner' || storage('role') == 'Manager'" class="nav-item" ng-class="{'active' : $state.current.name == 'sales_channel'}">
        <a class="nav-link" ui-sref="sales_channel">
          <i class="material-icons">subject</i>
          <p>Sales Channel</p>
        </a>
      </li>


      <li class="nav-item" ng-class="{'active' : $state.current.name == 'research'}">
        <a class="nav-link" ui-sref="research">
          <i class="material-icons">subject</i>
          <p>Research</p>
        </a>
      </li>

      <li ng-if="storage('role') == 'Owner' || storage('role') == 'Manager'" class="nav-item" ng-class="{'active' : $state.current.name == 'team'}">
        <a class="nav-link" ui-sref="team">
          <i class="material-icons">subject</i>
          <p>Team</p>
        </a>
      </li>


      <li ng-if="storage('role') == 'Owner' || storage('role') == 'Manager'" class="nav-item" ng-class="{'active' : $state.current.name == 'plans'}">
        <a class="nav-link" ui-sref="plans">
          <i class="material-icons">subject</i>
          <p>Plans</p>
        </a>
      </li>

    </ul>
  </div>
  <div class="sidebar-background" style="background: #757575"></div>
</div>

