<link href="/assets/chatloop/css/modallogin.css" rel="stylesheet">

<link href="/assets/css/login/style.css" rel="stylesheet">
<link href="/assets/css/custom.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/assets/chatloop/css/style.css?VERSION=1.2-E">
<link rel="stylesheet" type="text/css" href="/assets/chatloop/css/customchatloop.css?VERSION=1.2-E">
<link href="/assets/chatloop/css/modallogin.css" rel="stylesheet">

<div class="col-md-12">

    <section class="auth-page" id="wrapper" ng-class="{'hidden' : isLogin()}" >
       
       <div class="auth-card m-t-20 m-b-20" id="sigh-up-form">
          <div class="text-center">

             <a href="/">
                <img src="/assets/img/logo.png" alt="title-line" class="img-fluid line" style="width: 300px">
             </a>
             
             <p style="margin-top: 15px;">Have an account? <a ui-sref="signin">Sign In</a></p>
          </div>
            <section id="wrapper" ng-class="{'hidden' : isLogin()}">
            <form name="loginForm" no-validate class="auth-form">
                        <div class="col-md-12">
                            <h3 class="box-title m-b-20 text-center bold">Create your free account.</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" ng-model = "loginData.email"  ng-required="true" name="email" type="text" placeholder="Username"> 
                                        <div class="error-feedback" ng-show = "loginForm.email.$invalid && loginForm.email.$dirty">Email Address is Required or Invalid.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input ng-model = "loginData.firstName" name="firstName" ng-minlength="5"   ng-required="true" id="firstName" required="" type="text" class="form-control" placeholder="First Name"> 

                                        <span class="error-feedback" ng-show = "loginForm.firstName.$invalid && loginForm.firstName.$dirty">First Name is required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input ng-model = "loginData.lastName" name="lastName" ng-minlength="5"  ng-required="true" id="lastName" required="" type="text" class="form-control" placeholder="Last Name"> 

                                        <span class="error-feedback" ng-show = "loginForm.lastName.$invalid && loginForm.lastName.$dirty">Last Name is required.</span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input ng-model = "loginData.phone" name="phone" ng-minlength="5"   id="phone"  type="text" class="form-control" placeholder="Phone"> 
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input ng-model = "loginData.password" name="password" ng-minlength="5"  ng-required="true" id="loginPassword" required=""  name="password" type="password" class="form-control" placeholder="Password"> 

                                        <span class="error-feedback" ng-if="!loginForm.password.$invalid && !loginForm.password.$dirty"></span>
                                        <span class="error-feedback" ng-show = "loginForm.password.$invalid && loginForm.password.$dirty">Password is Required or atleast 5 Characters.</span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                    <input ng-model = "loginData.confirm_password" ng-minlength="5"  ng-required="true"  required=""  name="confirm_password" type="password" class="form-control" placeholder="Confirm password"> 

                                    <span class="error-feedback" ng-if="!loginForm.confirm_password.$invalid || !loginForm.password.$dirty"></span>
                                    <span class="error-feedback" ng-show = "loginForm.confirm_password.$invalid && loginForm.confirm_password.$dirty">Password is Required or atleast 5 Characters.</span>
                                    <span class="error-feedback" ng-show = "loginData.confirm_password.length > 0 && loginData.password != loginData.confirm_password">Password and Confirm password didnt matched.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                            

                            

                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary btn-md text-uppercase waves-effect waves-light" form-name="loginForm" loading-button callback="register()" type="button" >Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
            </section>
       </div>

    </section>

</div>