<link href="/assets/chatloop/css/modallogin.css" rel="stylesheet">

<link href="/assets/css/login/style.css" rel="stylesheet">
<link href="/assets/css/custom.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/assets/chatloop/css/style.css?VERSION=1.2-E">
<link rel="stylesheet" type="text/css" href="/assets/chatloop/css/customchatloop.css?VERSION=1.2-E">
<link href="/assets/chatloop/css/modallogin.css" rel="stylesheet">

<div class="col-md-12">

    <section class="auth-page" id="wrapper" ng-class="{'hidden' : isLogin()}" >
       
       <div class="auth-card m-t-20 m-b-20" id="sigh-up-form">
            <div class="text-center">

                <a href="/">
                    <img src="/assets/img/logo.png" alt="title-line" class="img-fluid line" style="width: 300px">
                </a>
                 
                <p style="margin-top: 15px;">No account yet? <a ui-sref="register">Register</a></p>

            </div>

            <section id="wrapper" ng-class="{'hidden' : isLogin()}">
                <form name="loginForm" no-validate class="auth-form">
                    <div class="col-md-12">
                        <h3 class="box-title m-b-20 text-center bold">Sign In to your Dashboard.</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <input class="form-control" ng-model = "loginData.email"  ng-required="true" name="username" type="text" placeholder="Username"> 
                                    <div class="error-feedback" ng-show = "loginForm.username.$invalid && loginForm.username.$dirty">Username Address is Required or Invalid.</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input ng-model = "loginData.password" name="password" ng-minlength="5"  ng-required="true" id="loginPassword" required=""  name="password" type="password" class="form-control" placeholder="Password"> 

                                        <span class="error-feedback" ng-if="!loginForm.password.$invalid || !loginForm.password.$dirty">&nbsp;</span>
                                        <span class="error-feedback" ng-show = "loginForm.password.$invalid && loginForm.password.$dirty">Password is Required or atleast 5 Characters.</span>

                                    </div>
                                </div>

                           

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value=""> Remember me
                                            <span class="form-check-sign">
                                              <span class="check"></span>
                                            </span>
                                          </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center m-t-20">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" form-name="loginForm" loading-button callback="submitLogin()" type="button" >Log In</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
       </div>
        
    </section>

</div>