<style type="text/css">
	
	.plan {
		margin-bottom: 10px;
	    margin-top: 40px;
	    padding: 10px;
	    background: #ffffff;
	    padding: 14px;
	    color: #2c2c2c;
	    border: 1px solid #f4f4f4;
	}

	.plan:hover {
		border-top: 2px solid #3dbf55;
		cursor: pointer;
	}

	.subscriber-info {
		font-size: 15px;
		font-weight: normal;
		background: #e1edf2;
		color: #2f2f2f;
	}

	.alert.alert-success {
    	background-color: #a4cda6;
    	color: #ffffff;
	}

	.pricing-header {
	    background: #ffffff;
	    color: #101010;
	    border-radius: 7px;
	    padding: 27px;
	}
	.price-num {
		font-size: 50px;
	}
	.price-table-content {
    	height: 158px;
	}
	.num-listings {
		font-size: 28px;
    	font-weight: bold;
	}

	.rocket {
		width: 100px;
	    position: absolute;
	    top: 252px;
	    left: 92px;
	    opacity: 0.5;
	}

</style>

<div class="col-md-12">
	<a ui-sref="add_research"  class="btn btn-primary text-white pull-right">Plans</a>
</div>


 <div class="container rrd-tab">
  <div class="row">
    <div class="col-md-12 ">

    	<div class="alert subscriber-info">

    		<p class="bold">Upgrading</p>
			<p>If you want to switch your plan, just subscribe to your new favorite plan. You’ll be credited the money for unused days from your old plan and you’ll only pay for the rest of the period for your new one!</p> 

			<p >Example: If you switch from plan 1000 ($10/mo) to plan 2500 ($20/mo) in the middle of the month, you’ll only pay for the first 15 days for plan 1000 and you’ll be credited for the second half of the month. Then, you’ll only pay for half of the 2500 plan for the second half of the month. </p>

			<p>For this example:
			$5 (for first plan being switched in the middle of the month)
			$10 (for switching to second plan)
			= $15 for this specific month, then next month it will return to $20/month</p>

			<p class="bold">Downgrading</p>

			<p>If you want to switch to a smaller plan, disable "Auto renewal" and get your favorite smaller plan after your subscription has ended.

			<p class="bold">Renewal</p>

			<p>You can choose if you want to cancel your subscription on period end or if you want to auto renew it.</p>	
		</div>


		<div class="alert alert-success alert-dismissible">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		   7 days free trial
		</div>


    	<div class="card">
            <div class="card-body" id="packages">
                <div class="row col-md-10 offset-md-1" id="pricing-plan">
                   

                	<div ng-repeat="plan in plans" class="col-md-4 col-xs-12 col-sm-6 no-padding plan">
                        <div class="pricing-box featured-plan">
                            <div class="pricing-body">
                                <div class="pricing-header">
                                    <h2 class="text-center price-num"><span class="price-sign">$</span>{{plan.price}}</h2>
                                    <p class="text-center">PER MONTH</p>
                                </div>
                                <div class="price-table-content">
                                    <h4 class="text-center num-listings">{{plan.title}}</h4>
                                    <p class="text-center">listings per month</p>
                                    <img class="rocket" src="/assets/img/fireworks.svg">
                                </div>

                                <div class="col-md-12 text-center">
                                	<button ng-click="subscribe(plan)" class="btn btn-primary btn-md text-center">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>  

  
                </div>
            </div>
        </div>
     </div>
  </div>
</div>



<div class="modal pages" id="card-modal">
    <div class="modal-dialog" style="width: {{steps.current == 'basic_info' ? 900 : 500;}}px !important;max-width: 1000px !important">
        <div class="modal-content">
            
            <div id="billing-method" class="active">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title">{{title}}</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>                
                <!-- Modal body -->            
                <div class="modal-body" id="credit-forms" style="padding-left: 30px; padding-right: 30px;">                
                    
                    <div class="row" ng-show="steps.current == 'basic_info'">

                        <div class="container ">
                            <div class="creditcard" ng-class="{'flipped' : on_cvc_focus}">
                                <div class="front">
                                    <div id="ccsingle"></div>
                                    <svg version="1.1" id="cardfront" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" viewBox="0 0 750 471" style="enable-background:new 0 0 750 471;" xml:space="preserve">
                                        <g id="Front">
                                            <g id="CardBackground">
                                                <g id="Page-1_1_">
                                                    <g id="amex_1_">
                                                        <path id="Rectangle-1_1_" class="lightcolor green" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                                                C0,17.9,17.9,0,40,0z" />
                                                    </g>
                                                </g>
                                                <path class="darkcolor greydark" d="M750,431V193.2c-217.6-57.5-556.4-13.5-750,24.9V431c0,22.1,17.9,40,40,40h670C732.1,471,750,453.1,750,431z" />
                                            </g>
                                            <text transform="matrix(1 0 0 1 60.106 295.0121)" id="svgnumber" class="st2 st3 st4">{{ cardinfo.card_number || 'CARD NUMBER' }}</text>
                                            <text transform="matrix(1 0 0 1 54.1064 428.1723)" id="svgname" class="st2 st5 st6">{{ cardinfo.name || 'CARD HOLDERS NAME' }}</text>
                                            <text transform="matrix(1 0 0 1 54.1074 389.8793)" class="st7 st5 st8">cardholder name</text>
                                            <text transform="matrix(1 0 0 1 479.7754 388.8793)" class="st7 st5 st8">expiration</text>
                                            <text transform="matrix(1 0 0 1 65.1054 241.5)" class="st7 st5 st8">card number</text>
                                            <g>
                                                <text transform="matrix(1 0 0 1 574.4219 433.8095)" id="svgexpire" class="st2 st5 st9">{{cardinfo.exp_month}}/{{cardinfo.exp_year}}</text>
                                                <text transform="matrix(1 0 0 1 479.3848 417.0097)" class="st2 st10 st11">VALID</text>
                                                <text transform="matrix(1 0 0 1 479.3848 435.6762)" class="st2 st10 st11">THRU</text>
                                                <polygon class="st2" points="554.5,421 540.4,414.2 540.4,427.9      " />
                                            </g>
                                            <g id="cchip">
                                                <g>
                                                    <path class="st2" d="M168.1,143.6H82.9c-10.2,0-18.5-8.3-18.5-18.5V74.9c0-10.2,8.3-18.5,18.5-18.5h85.3
                                            c10.2,0,18.5,8.3,18.5,18.5v50.2C186.6,135.3,178.3,143.6,168.1,143.6z" />
                                                </g>
                                                <g>
                                                    <g>
                                                        <rect x="82" y="70" class="st12" width="1.5" height="60" />
                                                    </g>
                                                    <g>
                                                        <rect x="167.4" y="70" class="st12" width="1.5" height="60" />
                                                    </g>
                                                    <g>
                                                        <path class="st12" d="M125.5,130.8c-10.2,0-18.5-8.3-18.5-18.5c0-4.6,1.7-8.9,4.7-12.3c-3-3.4-4.7-7.7-4.7-12.3
                                                c0-10.2,8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5c0,4.6-1.7,8.9-4.7,12.3c3,3.4,4.7,7.7,4.7,12.3
                                                C143.9,122.5,135.7,130.8,125.5,130.8z M125.5,70.8c-9.3,0-16.9,7.6-16.9,16.9c0,4.4,1.7,8.6,4.8,11.8l0.5,0.5l-0.5,0.5
                                                c-3.1,3.2-4.8,7.4-4.8,11.8c0,9.3,7.6,16.9,16.9,16.9s16.9-7.6,16.9-16.9c0-4.4-1.7-8.6-4.8-11.8l-0.5-0.5l0.5-0.5
                                                c3.1-3.2,4.8-7.4,4.8-11.8C142.4,78.4,134.8,70.8,125.5,70.8z" />
                                                    </g>
                                                    <g>
                                                        <rect x="82.8" y="82.1" class="st12" width="25.8" height="1.5" />
                                                    </g>
                                                    <g>
                                                        <rect x="82.8" y="117.9" class="st12" width="26.1" height="1.5" />
                                                    </g>
                                                    <g>
                                                        <rect x="142.4" y="82.1" class="st12" width="25.8" height="1.5" />
                                                    </g>
                                                    <g>
                                                        <rect x="142" y="117.9" class="st12" width="26.2" height="1.5" />
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                        <g id="Back">
                                        </g>
                                    </svg>
                                </div>
                                <div class="back">
                                    <svg version="1.1" id="cardback" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" viewBox="0 0 750 471" style="enable-background:new 0 0 750 471;" xml:space="preserve">
                                        <g id="Front">
                                            <line class="st0" x1="35.3" y1="10.4" x2="36.7" y2="11" />
                                        </g>
                                        <g id="Back">
                                            <g id="Page-1_2_">
                                                <g id="amex_2_">
                                                    <path id="Rectangle-1_2_" class="lightcolor green" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                                            C0,17.9,17.9,0,40,0z" />
                                                </g>
                                            </g>
                                            <rect y="61.6" class="st2" width="750" height="78" />
                                            <g>
                                                <path class="st3" d="M701.1,249.1H48.9c-3.3,0-6-2.7-6-6v-52.5c0-3.3,2.7-6,6-6h652.1c3.3,0,6,2.7,6,6v52.5
                                        C707.1,246.4,704.4,249.1,701.1,249.1z" />
                                                <rect x="42.9" y="198.6" class="st4" width="664.1" height="10.5" />
                                                <rect x="42.9" y="224.5" class="st4" width="664.1" height="10.5" />
                                                <path class="st5" d="M701.1,184.6H618h-8h-10v64.5h10h8h83.1c3.3,0,6-2.7,6-6v-52.5C707.1,187.3,704.4,184.6,701.1,184.6z" />
                                            </g>
                                            <text transform="matrix(1 0 0 1 621.999 227.2734)" id="svgsecurity" class="st6 st7">{{cardinfo.cvc}}</text>
                                            <g class="st8">
                                                <text transform="matrix(1 0 0 1 518.083 280.0879)" class="st9 st6 st10">security code</text>
                                            </g>
                                            <rect x="58.1" y="378.6" class="st11" width="375.5" height="13.5" />
                                            <rect x="58.1" y="405.6" class="st11" width="421.7" height="13.5" />
                                            <text transform="matrix(1 0 0 1 59.5073 228.6099)" id="svgnameback" class="st12 st13">{{cardinfo.name}}</text>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="form-container">
                            <div class="field-container">
                                <label for="name">Name</label>
                                <input  ng-model="cardinfo.name" id="name" maxlength="20" type="text">
                            </div>
                            <div class="field-container">
                                <label  for="cardnumber">Card Number</label>
                                <input no-enter creditcard-masking ng-model="cardinfo.card_number" name="cardNumber" id="cardnumber" type="text" pattern="[0-9]*" inputmode="numeric">
                                <svg id="ccicon" style="margin-top: 7px" class="ccicon" width="750" height="471" viewBox="0 0 750 471" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">

                                </svg>
                            </div>
                            <div class="field-container">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">&nbsp;</label>
                                                <select ng-model="cardinfo.exp_month"  class="form-control">
                                                    <option value="">MM</option>
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="05">05</option>
                                                    <option value="06">06</option>
                                                    <option value="07">07</option>
                                                    <option value="08">08</option>
                                                    <option value="09">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                            </div>
                                        </div>      
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">&nbsp;</label>
                                                <select ng-model="cardinfo.exp_year"  class="form-control">
                                                    <option value="">YY</option>
                                                    <option ng-repeat="year in expYears">{{year}}</option>
                                                </select>
                                            </div>
                                        </div>      
                                           
                                    </div>
                                </div>
                            </div>
                            <div class="field-container">
                                        <label for="securitycode">Security Code</label>
                                        <input  ng-focus="on_cvc_focus = true" ng-blur="on_cvc_focus = false" id="securitycode" ng-model="cardinfo.cvc" type="text" pattern="[0-9]*" inputmode="numeric">
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="steps.current == 'confirm_subscribe'">
                    	<div class="col-md-12">
                            <h5>Are you sure you want to subscribe to <span class="bold">{{selected_plan.title}}</span> with a monthly payment of <span class="bold">${{selected_plan.price}}</span>.</h5>	
                        </div>
                      </div>
                </div>

	            <div class="modal-footer" style="padding-right: 30px;">
	                <div class="row">
	                	<div class="col-md-12 next-btn">
		                    <button class="btn btn-primary btn-md " ng-show="steps.current == 'basic_info'" ng-click="stepsGoto('confirm_subscribe')" ng-disabled="!basic_info_checker()" id="save-billing-info">Next</button>

		                    <button class="btn  btn-info btn-md " ng-click="stepsGoto('basic_info')" ng-show="steps.current == 'confirm_subscribe'">Back</button>

		                    <button class="btn  btn-primary btn-md " ng-show="steps.current == 'confirm_subscribe'" loading-button callback="savePlan()" id="save-billing-info">Subscribe</button>
		                </div>
	                </div>
	            </div>
        	</div>
        </div>
    </div>
</div>

