html body {
  background: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #67757c;
  font-weight: 300; }



.preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
}

.pointer {
	cursor: pointer;
}

.hidden {
	display: none;
}

.faded-help {
	color: #b7b7b7;
}

.error-feedback {
	color: #ff7b7b;
}

.pull-right{
	float: right;
}

.colorpicker { 
    z-index: 9999 !important;     
    transform: scale(1);
    opacity: 1; 
}
.colorpicker-element .form-control{
    background: none !important;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.picker-view {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin:1px;
    border: 1px solid #ccc;
}

.body-table thead tr th  {
    font-size: 13px !important;
}

.color-view-wrapper {
    z-index: 9999;
    height: auto;
}

.color-view {
    position: relative;
}

.color-view .input-group-addon {
    background-color: inherit;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 0px;
    margin-bottom: 0px;
}

.color-view .remove-picker {
    position: absolute;
    top: -12px;
    right: -4px;
    z-index: 999;
}
.color-view .remove-picker .material-icons{
    font-size: 13px;
    color: white;
    border-radius: 10px;
    background: #585858;
}



.color-view .form-control+.input-group-addon:not(:first-child) {
    border-left: 1px solid #ccc;
}
.color-view .input-group-addon i {
    width: 30px;
    height: 30px;
}
.color-picker {
    display: inline-block;
}

.dropify-custom .dropify-wrapper{
    border-radius: 9px;
}
.listing-detail-table {
    width: 100% !important;
}


.listing-detail-table thead tr th {
    width: 10% !important;
}

.active-product {
    background: #9e38b4;
    color: #fff;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active
{
    background-color: #20BF55;
    color: #fff !important;
}
.btn.btn-primary {
    background-color: #20BF55;
    border: 0px !important;
}
.text-primary{
    color: #20BF55 !important;
}
a.text-primary:hover, a.text-primary:focus:hover{
    color: #20BF55 !important;
}
.btn.btn-primary.disabled:hover, .btn.btn-primary:disabled:hover {
    background-color: #20BF55;
}
.btn-primary:hover, .btn-primary.disabled:hover{
    background-color: #20BF55;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    background-color: #20BF55;
}
.btn.btn-primary:hover {
    background-color: #20BF55;
}
.btn.btn-primary.active:hover {
    background-color: #20BF55;
}
.form-control, .is-focused .form-control {
        background-image : linear-gradient(to top, #20BF55 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.editable-empty {
    color: #495057;
    font-style:normal;
}

.editable-click, a.editable-click{
    color: #495057;
    font-style:normal;
    border-bottom: none;
}

.editable-click:hover, a.editable-click:hover {
    color: #495057;
    font-style:normal;
}

.btn.btn-danger {
    background-color: #FF595E;
}
.text-danger{
    color: #FF595E !important;
}
.btn.btn-danger:hover {
    background-color: #FF595E;
}



.btn.btn-info {
    background-color: #01BAEF;
}
.text-info{
    color: #01BAEF !important;
}
.btn.btn-info:hover {
    background-color: #01BAEF;
}




.card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back {
    background: #20BF55;
}
.sidebar[data-color="pallete_one"] li.active>a {
    background-color: #20BF55;
}

.btn.btn-actions {
    width: auto;
    /* background: transparent !important; */
    /* color: #000 !important; */
    /* border: none !important; */
    display: inline;
    padding: 10px;
}

/*

.btn.btn-primary:hover {
    background: #b44ec5;
    box-shadow: 0 4px 0 0 #802290;
}


.btn.btn-danger {
    box-shadow: 0 4px 0 0 #b72e24;
}
.btn.btn-danger:hover {
    background: #f1665c;
    box-shadow: 0 4px 0 0 #b72e24;
}


.btn.btn-info {
    box-shadow: 0 4px 0 0 #058d9e;
}
.btn.btn-info:hover {
    background: #5bc6d4;
    box-shadow: 0 4px 0 0 #058d9e;
}
*/

.sales-channels .editable-wrap {
    display: block;
}

.sales-channels .editable-input {
    width: 100%;
}
.dropzone-wrapper {
    height: 197px;
    overflow-y: scroll;
    border-radius: 8px;
    border: 1px solid #ececec;
}


.sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50%;
}

.main-panel {
    background: #fff;
}


.alert.alert-info {
    background-color: #0B4F6C;
}

.btn-md.ladda-button {
    border: 0px;
    font-size: inherit;
}

.upload-wrapper {
    padding: 0px;
    color: #01BAEF;
    border: 1px solid #fff;
}

.progress ,.progress-bar{
    height: 10px;
}

.upload-wrapper .preview img{
    border: 1px solid #dadada;
    border-radius: 6px;
}











/*signin*/

.signin-class .a {
    color: #3dbf55;
}
.bold {
    font-weight: bold;
}
.homepage-banner {
    margin-top: 100px;
}
.homepage-banner h1{
    font-size: 66px;
    font-weight: bold;
}

.homepage-banner h3{
    text-decoration: underline;
}


.upload-wrapper .preview img {
    width: 100px;
}



.hover-image {
    border: 2px solid rgb(175, 175, 175);
    border-radius: 10px;
    width: 150px;
    z-index: 99999;
    display: none;
}


.loading-base {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    background: #fff;
}

.loading-base img {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    top: 25%;

}




.rrd-tab nav > .nav.nav-tabs{

    border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
.rrd-tab nav > div a.nav-item.nav-link,
.rrd-tab nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

.rrd-tab nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#20BF55 !important;
    border-radius:0;
}

.rrd-tab nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #20BF55 ;
}

.rrd-tab .nav-tabs {
    padding: 0px;
}
.rrd-tab .tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #20BF55;
    padding:30px 25px;
}

.rrd-tab nav > div a.nav-item.nav-link:hover,
.rrd-tab nav > div a.nav-item.nav-link:focus
{
    border: none;
    background: #20BF55;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

.main-panel>.content {
    background-color: #f7f7f7;
}

.default-colors {
    width: 152px;
    height: 155px;
    position: absolute;
    background-color: #dedede;
    z-index: 9999;
    border: 1px solid #c7c7c7;
}

.default-colors ul {
    padding: 0px;
    margin: 0px;
}
.dark-preview {
    background-color: #ccc;
}
.default-colors .color-li {
    width: 30px;
    height: 30px;
    vertical-align: top;
    background-color: blue;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}


.search-wrapper {
    width: 100%;
}

.width-100 {
    width: 100%;
}

.bmd-form-group {
    width: 100%;
}

.form-wrapper-search {
    margin-top: 3px;
}
.form-wrapper-search input {
    height: 50px;
}


.search-bar-custom {
    padding: 10px;
    border-radius: 3px;
    border: none;
    width: 80%;
    /* background: #f9f9f9; */
    margin-right: 13px;
}

.sidebar[data-background-color="black"] {
    background: #757575 !important;
}

.form-control {
    color: #67757c;
    min-height: 38px;
    display: initial;
    border-radius: 0px;
}
.merch-form .form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}