<div class="col-md-12">
	<a ui-sref="team" class="btn btn-danger text-white pull-right">
    Back
  </a>
</div>


<div class="col-md-12">
	<div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Add Team Member</h4>
              </div>

              <div class="loading-wrapper text-center" ng-cloak ng-show="core.team_loading">
      					<img src="/assets/img/loader.svg">
      				</div>

              <div class="card-body" ng-show="!core.team_loading">
                  <form name="data_form " no-validate style="margin-top: 20px">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">First Name</label>
                          
                          <input type="text" class="form-control" ng-model = "team_data.firstName"  ng-required="true" name="firstName">

                          <div class="error-feedback" ng-show = "data_form.firstName.$invalid && data_form.firstName.$dirty">First Name is Required.</div>

                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Last Name</label>
                          <input type="text" class="form-control" ng-model = "team_data.lastName"  ng-required="true" name="lastName">

                          <div class="error-feedback" ng-show = "data_form.lastName.$invalid && data_form.lastName.$dirty">Last Name is Required.</div>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="email" ng-required="true" name="email" ng-model = "team_data.email" class="form-control">

                          <div class="error-feedback" ng-show = "data_form.email.$invalid && data_form.email.$dirty">Email is Required.</div>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Password</label>
                          <input type="password" ng-model = "team_data.password" ng-required="!editMode()" name="password" class="form-control">

                          <div class="error-feedback" ng-show = "data_form.password.$invalid && data_form.password.$dirty && !editMode()">Password is Required.</div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Confirm Password</label>
                          <input type="password" ng-model = "team_data.confirm_password" ng-required="!editMode()" class="form-control">

                          <div class="error-feedback" ng-show = "data_form.confirm_password.$invalid && data_form.confirm_password.$dirty && !editMode()">Confirm Password is Required.</div>

                          <div class="error-feedback" ng-show = "team_data.confirm_password != team_data.password">Confirm Password didnt matched with password.</div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Role</label>
                          <select class="form-control" name="role" ng-model="team_data.role">
                              <option value="">Select Role</option>
                              <option value="Manager">Manager</option>
                              <option value="Team Member">Team Member</option>
                              <option value="Designer">Designer</option>
                          </select>

                          <div class="error-feedback" ng-show = "data_form.role.$invalid && data_form.role.$dirty">Role is Required.</div>
                        </div>
                      </div>
                    </div>

                    <button  type="button" form-name="data_form" loading-button callback="saveTeam()" class="btn btn-primary pull-right">Save</button>
                    <div class="clearfix"></div>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>