<div class="col-md-12">
	<a ui-sref="add_team" class="btn btn-primary text-white pull-right">
    Add New Team Member 
  </a>
</div>


<div class="col-md-12">
	<div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Team Members</h4>
              </div>

              <div class="loading-wrapper text-center" ng-show="core.team_loading">
                <img src="/assets/img/loader.svg">
              </div>

              <div class="card-body" ng-show="!core.team_loading">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>Name</th>
                      <th>Email</th>
                      <th>Role</th>
                    </thead>
                    <tbody>
                      <tr ng-show="data.team_members.length == 0 || data.team_members == undefined" class="text-center">
                        <td colspan="7">Nothing to show</td>
                      </tr>
                      <tr class="pointer" ng-click="edit_page('edit_team', team.member.id)" ng-repeat="team in data.team_members">
                        <td>{{team.member.user_profile.firstName}} {{team.member.user_profile.lastName}}</td>
                        <td ng-bind="team.member.email"></td>
                        <td ng-bind="displayRoles(team.role)"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>